.container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px; /* Space between columns */
  align-items: center; /* Vertically center the content */
}

.image-svg img {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain the image's aspect ratio */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Vertically align the content */
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
}
