nav {
  font-size: medium;
  font-style: normal;
  height: 80px;
  justify-content: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  gap: 10px;
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  gap: 20px;
}
button {
  border-radius: 8px;
  background-color: #013792;
  color: #ffffff;
  width: 131px;
  height: 48px;
}

.profile-picture {
  width: 1000px;
  position: absolute;
  top: 10px;
}
nav img {
  width: 84px;
  position: absolute;
  bottom: 2px;
}
