

.privacy {
    background-color: #8b5dff;
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 50% 35%;
    border-bottom-right-radius: 50% 90%;

  }
.privacy h1{
    align-items:start;
    color:aliceblue;
    padding-top: 32px;
}
 
.full-width {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  
 
  .full-width-container {
    max-width: 100% !important; 
    padding: 0 16px; 
    margin-bottom: 32px;
  }
  
  .privacy {
    margin-bottom: 2rem; 
  }