.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding to prevent content from sticking to the edges */
}

.image-section img {
  max-width: 100%; /* Ensures the image fits within the container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the area if needed */
}

.form-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: grey;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3636e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2929d6;
}
