
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.form-section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: grey;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding-right: 40px;
}

.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0b3c5d; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2px;
  transition: background 0.3s ease;
}
.register-btn:hover{
  background-color: #177dc2;
}


.password-input-container {
  position: relative;
}

.password-input-wrapper {
  
  display: flex;
  align-items: center;
}


.password-toggle-button {
  position: absolute;
  right: 20px;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
 
justify-content: end;
background-color:none;

  color: #666; 
}

.password-toggle-button:hover {
  color: #333; 
}


.password-toggle-button:focus {
  outline: none;
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }

  .image-section {
    padding: 20px 0; 
  }

  .form-section {
    padding: 20px; 
  }

  .form-group input {
    font-size: 0.9rem; 
  }

  button {
    font-size: 0.9rem; 
  }

  .password-toggle-button {
    right: 0px; 
  }
}

@media (max-width: 480px) {
  .registration-container {
    padding: 10px;
  }

  .form-section h1 {
    font-size: 1.5rem; 
  }

  .form-group label {
    font-size: 0.9rem; 
  }

  .form-group input {
    font-size: 0.8rem; 
  }

  button {
    font-size: 0.8rem; 
  }

  .password-toggle-button {
    right: 0px; 
  }
  .sign-in p{
    font-size: 0.8rem;
    color: #0c3be5;
  }
}